<!-- views/account.ejs -->
<!doctype html>
<html>
<head><% include /partials/head %>
    <script>

    //var assets = <%- JSON.stringify(assets) %>;
    var groups = <%- JSON.stringify(groups) %>;
    var accounts = <%- JSON.stringify(accounts) %>;

    </script>
</head>

<body>


<header> <% include /partials/header %> </header>

<div class="container">
  <% if (message.length > 0) { %>
    <div class="alert alert-info"><%- message %>  <button type="button" class="close" data-dismiss="alert">&times;</button></div>
  <% } %>

  <div class="page-header">
    <h3>Automatic Report</h3>
  </div>



<div class="row"> <!-- second row -->



    <div class="col-sm-12"> <!-- multiple boxes here -->
      <div class="well">
      <form action="/createreport" name="data"  id="data" method="post">

          <div class="col-sm-4"> <!-- multiple boxes here -->

          <p class="lead">Date</p>
          <input type="text" name="start" value="<%=start%>" class="input-sm form-control" id="input-daterange">
          <input type="text" name="end" value="<%=end%>" class="input-sm form-control" id="input-daterange">

          </div>

          <div class="col-sm-4"> <!-- multiple boxes here -->
          <p class="lead">Account</p>
            <div class="form-group">
              <select class="form-control accountid" name="accountid">
                <option value= '<%=startaccount%>'> <%=startaccount%> </option>
              </select>
              </div>

          </div>
          <div class="col-sm-4"> <!-- multiple boxes here -->

          <p class="lead">Group</p>
            <div class="form-group">
              <select class="form-control groupid" name="groupid">
                <option value= '<%=startgroup%>' class='<%=startgroup%>'> <%=startgroup%> </option>
              </select>
              </div>
          </div>
            <button type="submit" name="submitbtn" value="report" class="btn btn-primary pull-right report">Generate Report</button>

           <input type="hidden" name="totdailyimport" id="totdailyimport" value="0">
           <input type="hidden" name="totdailyexport" id="totdailyexport" value="0">

           <input type="hidden" name="totmonthlyimport" id="totmonthlyimport" value="0">
           <input type="hidden" name="totmonthlyexport" id="totmonthlyexport" value="0">   

           <input type="hidden" name="dailygraph" id="dailygraph" value="0">   
           <input type="hidden" name="monthlygraph" id="monthlygraph" value="0">   

           <p> &nbsp; </p>

        </form>
        </div>

  </div> <!-- col -->


<% if (monthly.length > 0) { %>
      <div class="col-sm-6">
          <div class="well">
              <p class="lead"> Daily Energy Generated / Used (kWh)</p>
              <canvas id="myChart1" style="padding-right: 30px;"></canvas>
              <div id="myChart1-legend" class="chart-legend" ></div>
          </div>
      </div>

      <div class="col-sm-6">
          <div class="well">
              <p class="lead"> Monthly Energy Generated / Used (kWh)</p>
              <canvas id="myChart3" style="padding-right: 30px;"></canvas>
              <div id="myChart3-legend" class="chart-legend" ></div>
          </div>
      </div>
<% } %>




    </div>
  </div>

</div> <!-- row -->

</div>
<footer>
  <% include /partials/footer %>
</footer>

<script type="text/javascript">

// chart options

var chart_options = {
    responsive: true,
    animation : false,
};

// monthly select
var monthly = <%- JSON.stringify(monthly) %>;
var monthlyimpt = [];
var monthlyexpt = [];
var monthlylabel = [];

if (monthly.length > 0) {

monthly[0].forEach(function(err, index) {

    monthlylabel.push(moment.monthsShort(monthly[0][index].month1-1));
    monthlyimpt.push(monthly[0][index].eng_import_diff);
    monthlyexpt.push(monthly[0][index].eng_export_diff);

  });

  var totmonthlyexport = monthlyimpt.reduce( function(total, num){ return total + num }, 0);
  var totmonthlyimport = monthlyexpt.reduce( function(total, num){ return total + num }, 0);

  var monthlydata = {
      labels: monthlylabel,
      datasets: [
          {
              label: "Import",
              fillColor: "rgba(220,220,220,.5)",
              strokeColor: "rgba(220,220,220,1)",
              highlightFill: "rgba(220,220,220,1)",
              highlightStroke: "rgba(220,220,220,.5)",
              data: monthlyimpt
          },
          {
              label: "Export",
              fillColor: "rgba(151,187,205,.5)",
              strokeColor: "rgba(151,187,205,1)",
              highlightFill: "rgba(151,187,205,1)",
              highlightStroke: "rgba(151,187,205,.5)",
              data: monthlyexpt
          }
      ]
  };

} else {
  // disable the report output function
  disablereport();
}

// end monthly select

// daily select
var daily = <%- JSON.stringify(daily) %>;
var dailyimpt = [];
var dailyexpt = [];
var dailylabel = [];

if (daily.length > 0) {

daily[0].forEach(function(err, index) {

if(index % Math.floor(daily[0].length/5) == 0) {
  dailylabel.push( daily[0][index].day1+'-'+daily[0][index].month1);
} else {
  dailylabel.push('');
}
  dailyimpt.push(daily[0][index].eng_import_diff);
  dailyexpt.push(daily[0][index].eng_export_diff);

});

var totdailyexport = dailyimpt.reduce( function(total, num){ return total + num }, 0);
var totdailyimport = dailyexpt.reduce( function(total, num){ return total + num }, 0);

    var dailydata = {
        labels: dailylabel,
        datasets: [
            {
                label: "Import",
                fillColor: "rgba(0,0,0,0)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                //highlightFill: "rgba(220,220,220,1)",
                //highlightStroke: "rgba(220,220,220,1)",
                data: dailyimpt
            },
            {
                label: "Export",
                fillColor: "rgba(0,0,0,0)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                //highlightFill: "rgba(151,187,205,1)",
                //highlightStroke: "rgba(151,187,205,1)",
                data: dailyexpt
            }
        ]
    };
  }
// end daily select

// Initialization of the Charts (*and destroy on each tab)
      var ctx1 = $("#myChart1").get(0).getContext("2d");
      var myLinechart1 = new Chart(ctx1).Line(dailydata, chart_options);
      document.getElementById('myChart1-legend').innerHTML = myLinechart1.generateLegend();

      var ctx3 = $("#myChart3").get(0).getContext("2d");
      var myBarchart3 = new Chart(ctx3).Bar(monthlydata, chart_options);
      document.getElementById('myChart3-legend').innerHTML = myBarchart3.generateLegend();

// saving data to form data for push to reports

    // 12-month import/export
    document.data.totmonthlyimport.value = totmonthlyexport;
    document.data.totmonthlyimport.value = totmonthlyimport;

    // period import/export
    document.data.totdailyexport.value = totdailyexport;
    document.data.totdailyimport.value = totdailyimport;

// when everything is loaded
    //console.log('not finished loading');

// disable report button


setTimeout(function(){
  
    var dailyCanvas = document.getElementById("myChart1");
    //console.log('dc ', dailyCanvas);
    var a = dailyCanvas.toDataURL("image/png");
    //console.log('a ',a);

    document.data.dailygraph.value = a;

    var monthlyCanvas = document.getElementById("myChart3");
    var b = monthlyCanvas.toDataURL("image/png");
    document.data.monthlygraph.value = b;
    //console.log('everythng is loaded now');

// set account and group tabs

}, 1500);

setTimeout(function(){
  document.forms["data"].submit();
  console.log('form submitted');
},2000);
    //console.log(a);
    //console.log(document.data.daily_img.value);

</script>

</body>
</html>
