<!-- views/changepassword.ejs -->
<!doctype html>
<html>
<head>
  <title>Cloud Connect</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/chartist.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/chartist.min.js"></script>
  <style>
    body    { padding-top:80px; }
  </style>
</head>
<body>
<div class="container">

<div class="col-sm-8 col-sm-offset-2">

  <h1><span class="fa fa-sign-in"></span> Reset Password for <%= email %></h1>
  <!-- show any messages that come back with authentication -->
  <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
  <% } %>

  <!-- LOGIN FORM -->

  <form action="/changepassword" method="post">
      <div class="form-group">
        <label>User Name</label>
        <p><%= user %></p>
        <label>New Password</label>
        <input type="password" class="form-control" name="password">
        <input type="hidden" class="form-control" value="<%= token %>" name="token">
        <input type="hidden" class="form-control" value="<%= user %>" name="username">
      </div>


    <button type="submit" class="btn btn-warning btn-lg">Change Password</button>
  </form>

</div>

</div>
</body>
</html>
