<!-- views/editasset.ejs -->
<!doctype html>
<html>
<head><% include /partials/head %></head>
<body><header> <% include /partials/header %> </header>

<div class="container">


<div class="col-sm-6 col-sm-offset-3">

  <h1><span class="fa fa-sign-in"></span> Edit Your Profile</h1>

  <!-- show any messages that come back with authentication -->
  <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
  <% } %>

  <!-- EDIT ASSET FORM -->
  <form action="/editprofile" method="post">
    <% if (user.length > 0) { %>

        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" name="firstname" value="<%=user[0].firstname%>">
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" name="lastname" value="<%=user[0].lastname%>">
        </div>

        <div class="form-group">
          <label>Address </label>
          <input type="text" class="form-control" name="address" value="<%=user[0].address%>">
        </div>

        <div class="form-group">
          <label>City </label>
          <input type="text" class="form-control" name="city" value="<%=user[0].city%>">
        </div>


        <div class="form-group">
          <label>Postal Code</label>
          <input type="text" class="form-control" name="postal" value="<%=user[0].postal%>">
        </div>

        <div class="form-group">
          <label>Phone Number (SMS-enabled)</label>
          <input type="text" class="form-control" name="phone" value="<%=user[0].phone%>">
        </div>

        <div class="form-group">
          <label for="assetid">Notify by Email</label>
          <select class="form-control" name="emailnotify">
            <% if (user[0].emailnotify == 1) { %>
            <option value= '0'>No</option>
            <option value= '1' selected="selected">Yes</option>
            <% } else { %>
            <option value= '0' selected="selected">No</option>
            <option value= '1'>Yes</option>
            <% } %>
          </select>
        </div>
        <div class="form-group">
          <label for="assetid">Notify by SMS Message</label>
          <select class="form-control" name="smsnotify">
            <% if (user[0].smsnotify == 1) { %>
            <option value= '0'>No</option>
            <option value= '1' selected="selected">Yes</option>
            <% } else { %>
            <option value= '0' selected="selected">No</option>
            <option value= '1'>Yes</option>
            <% } %>          
            </select>
        </div>
        <% } else { %>
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" name="firstname">
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" name="lastname">
        </div>

        <div class="form-group">
          <label>Address </label>
          <input type="text" class="form-control" name="address">
        </div>

        <div class="form-group">
          <label>City </label>
          <input type="text" class="form-control" name="city">
        </div>


        <div class="form-group">
          <label>Postal Code</label>
          <input type="text" class="form-control" name="postal">
        </div>

        <div class="form-group">
          <label>Phone Number (SMS-enabled)</label>
          <input type="text" class="form-control" name="phone">
        </div>

        <div class="form-group">
          <label for="assetid">Notify by Email</label>
          <select class="form-control" name="emailnotify">
            <option value= '0'>No</option>
            <option value= '1'>Yes</option>
          </select>
        </div>
        <div class="form-group">
          <label for="assetid">Notify by SMS Message</label>
          <select class="form-control" name="smsnotify">
            <option value= '0'>No</option>
            <option value= '1'>Yes</option>
          </select>
        </div>
  <% }  %>
    <button type="submit" class="btn btn-warning btn-lg">Submit</button>
  </form>


</div>



</div>
</body>
</html>
