<!-- views/index.ejs -->
<!doctype html>
<html>
<head><% include /partials/head %></head>

<body>


<header> <% include /partials/header %> </header>

<div class="container">
  <% if (message.length > 0) { %>
    <div class="alert alert-info"><%- message %>  <button type="button" class="close" data-dismiss="alert">&times;</button></div>
  <% } %>

	<div class="page-header text-center">
		<h3>Profile Page</h3>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<p class='lead'>Information</p>
					<table class="table">
					<tr><td><strong>User Name</strong></td><td> <%= user.username %></td></tr>
					<tr><td><strong>E-mail Address</strong></td><td> <%= user.email %></td></tr>
					  <% if (profile.length > 0) { %> 
					<tr><td><strong>Name</strong></td><td> <%= profile[0].firstname %> <%= profile[0].lastname %></td></tr>
					<tr><td><strong>Address</strong></td><td><%= profile[0].address %></td></tr>
					<tr><td><strong>City</strong></td><td> <%= profile[0].city %></td></tr>
					<tr><td><strong>Postal Code</strong></td><td> <%= profile[0].postal %></td></tr>
					<tr><td><strong>Phone Number</strong></td><td> <%= profile[0].phone %></td></tr>
					  <% } %>
					</table>
					<p><a href="/editprofile">Edit Information</a></p>
					<p><a href="/resetpassword">Change Password</a></p>
					

			</div>

			<div class="well">
				<p class='lead'>Annoucements</p>
					<table class="table">
					<tr>
						<td><strong>Date</strong></td>
						<td><strong>User</strong></td>
						<td><strong>Announcement</strong></td>
					</tr>
          <% alerts.forEach(function(err, index) {%>
					<tr>
						<td><%=alerts[index].timestamp.toLocaleDateString() %></td>
						<td><%=alerts[index].username %></td>
						<td><%=alerts[index].announcement %></td>
					</tr>
					<% }); %>
					</table>

			</div>

		</div>

		<div class="col-sm-6">

				<div class="well">
					<p class='lead'>Account Overview</p>
       <table class="table">
          <tr>
            <td><strong>Account</strong></td>
            <td><strong>Role</strong></td>
            <td><strong>Meters</strong></td>
            <td><strong>Details</strong></td>
          </tr>
			<% accounts.forEach(function(err, index) {%>
      <% var assetcount = 0; %>
        <% assets.forEach(function(err, j) { %>
          <% if (accounts[index].accountid == assets[j].accountid) { %>
          <% assetcount = assetcount+1; %>
          <% } %>
        <% }); %>
          <tr>
            <td><%=accounts[index].accountname%></td>
            <td><%=accounts[index].rolename%></td>
            <td><%=assetcount%></td>
            <td><a href="/account/<%=accounts[index].accountname%>">View</a></td>
          </tr>

			<% });%>
      </table>
				</div>

		</div>

  <hr>
</div>
</div>

<footer>
  <% include /partials/footer %>
</footer>



</body>
</html>
